$base-font-family: 'Roboto', sans-serif;
$line-height-base:1.6;
$font-size-base: 0.8rem;
$font-weight-base:300;
$display-flex: flex;
$display-block: block;
$display-none: none;
$absolute-position:absolute;
$fixed-position:fixed;
$relative-position:relative;
$center:center
